.content-blog{
    width: 80%;
    height: 100%;
    background-color: rgb(228, 228, 228);
    margin: auto;
}
.rodape-blog{
    text-align: center;
    bottom: 0;
    width: 80%;
    height: 40px;
    background-color: rgb(161, 161, 161);
    margin: auto;
    
}
.texto-rodape{
    margin: auto;
}
.secoes-noticias {
    margin:0 30px;
}
.artigo-noticia{
    padding: 30px;
}
.imagen-post{
    width: 500px;
    margin: auto;
}
h1{
    width: 60%;
    margin: auto;
    text-align: center;
}
.formulario-envio{
    width: 60%;
    margin: auto;
}